
<select class="form-select form-control" aria-label="" name="banco"" required>
     <option value="">Selecione o banco</option>
     <option value="SANTANDER SA">Santander</option>
     <option value="ITAU UNIBANCO">Itau Unibanco</option>
     <option value="BRADESCO">Bradesco</option>
     <option value="CAIXA ECONOMICA FEDERAL">Caixa economica</option>
     <option value="NU PAGAMENTOS S.A">Nubank</option>
     <option value="C6 BANK">C6 Bank</option>
     <option value="BMG S.A">BMG</option>
     <option value="PICPAY SERVICOS S.">PicPay</option>
     <option value="BANCO DO BRASIL S.A">Banco do brasil</option>
     <option value="PAGSEGURO S.A">Pag Bank</option>
     <option value="MERCADO PAGO S.A">Mercado pago</option>
     <option value="VOTORANTIM S.A">Banco BV</option>
     <option value="NEXT S.A">Next</option>
     <option value="SICREDI S.A">Sicred</option>
     <option value="INTER S.A">Inter</option>
     <option value="BANRISUL S.A">Banrisul</option>
     <option value="SICOOB S.A">Sicoob</option>
     <option value="ORIGINAL S.A">Banco Original</option>
     <option value="BRB S.A">Banco BRB </option>
     <option value="BANCO PAN S.A">Banco PAN </option>
</select>