<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TLTC</title>
    <style>
    .pag{
        height: 11.69in;
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 1.2rem;
    }
    </style>
</head>
<body>
    <div class="pag">
        <h1 style="text-align:center">TARIFA  DE LIBERAÇÃO DA TRANSFERENCIA DO CRÉDITO (TLTC}</h1>
    </div>
    <p>
        MUTUÁRIO TEM COMO MEDIDA DE COMPROVAÇÃO DE PAGAMENTO, INFORMAÇÃO PRESENTE EM COMPROVENTE SENDO NÚMERO DE TERMINAL E CONTROLE GERADO PELA INSTITUIÇÃO BANCÁRIA, ESTANDO CORRESPONDENTE AO VALOR CORRETO INFORMADO
    </p>
</body>
</html>